.idea/
__pycache__/
market_env/
secrets.py
api.py
test.py
logic_side/scraping_tools/__pycache__/
logic_side/credentials/my_database.ini
online_market/secrs.py
market/secrs.py
market/migrations/
*.json