{% extends 'market/base.html' %}
{% block content %}
<div class="row">
		<!-- the iteration goes here -->
		{% for product in products %}
			<div class="card">
				<a href={{ product.link }} class="product-access">
					<img class="card-image" src={{ product.image }}>
					<div class="card-content">
						<h5>{{ product.title }}</h5>
						<p>Price: {{ product.integer }} RUB</p>
					</div>
				</a>
			</div>
			{% empty %}
			<p>there are no products yet
		{% endfor %}		
</div>

{% endblock content %}