{% extends 'market/base.html' %}
{% load index %}
{% block content %}
{% for product in products %}
	<div class="col">
	    <div class="card shadow-sm">
	     	<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{ product.title }}</title>
	     		<defs>
	     			<clipPath id="rectView">
	     				<rect width="100%" height="100%" fill="#FFFFFF"/>
	     			</clipPath>
	     		</defs>
	     		<image width="100%" height="250" xlink:href="{{ product.image|index:0 }}" clipPath="url(#rectView)">
	     		</image>
	     	</svg>
	
	        <div class="card-body">

	            <p class="card-text">{{ product.title }}</p>
	            <h5 style="color:green;" class="text-muted">{{ product.integer }} RUB</h5>
	            <div class="vendor-section">
	            	<a class="vendor-link" href="{{ product.vendor_link }}">{{ product.vendor_title }}</a>
	            </div>
	            <div class="btn-group">
	                <a type="button" style="background-color:blue;" class="btn btn-sm btn-outline-secondary" href="{{ product.link }}">View</a>
	                <button type="button" style="background-color:green;" class="btn btn-sm btn-outline-secondary">Add</button>
	            </div>
	        </div>
	    </div>
	</div>
	{% empty %}
	<p>There are no products yet.</p>
{% endfor %}


{% endblock content %}