{% extends 'market/base.html' %}
{% load static %}
{% load index %}

{% block content %}


{% for product in products %}
	<div class="card shadow-sm">

		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img src="{{ product.image|index:0 }}" class="d-block w-100" alt="{{ product.title }}">
		    </div>
		    <div class="carousel-item">
		      <img src="{{ product.image|index:1 }}" class="d-block w-100" alt="{{ product.title }}">
		    </div>
		  </div>
		  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		  <a class="next" onclick="plusSlides(1)">&#10095;</a>
		</div>
		<div class="card-body">

	        <p class="text">{{ product.title }}</p>
	        <h5 style="color:green;" class="numbertext">{{ product.integer }} RUB</h5>
	        <div class="btn-group">
	        	<a type="button" style="background-color:blue;" class="btn btn-sm btn-outline-secondary" href="{{ product.link }}">View</a>
	        	<button type="button" style="background-color:green;" class="btn btn-sm btn-outline-secondary">Add</button>
	        </div>
	    </div>
	</div>
	{% empty %}
	<p>There are no products yet</p>
{% endfor %}

{% endblock content %}
 