<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>test page</title>
	<style>
/*		
	</style>
</head>
<body>
	<div id="myNav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="overlay-content">
			<a href="#">Main</a>
			<a href="#">Highlights</a>
			<a href="#">FAQ</a>
			<a href="#">About Us</a>
		</div>
	</div>
	<span onclick="openNav()">open</span>

	<!-- js script here -->
	<script src=></script>
</body>
</html>